#jinja2: trim_blocks:False
apiVersion: "kubeadm.k8s.io/v1beta2"
kind: ClusterConfiguration
networking:
    serviceSubnet: {{ kubernetes.serviceSubnet }}
    podSubnet: {{ kubernetes.podSubnet }}
    dnsDomain: cluster.local
apiServer:
    certSANs: {% for host in groups['kube-master'] %}
      - {{ host -}}
{%- endfor %}
kubernetesVersion: v{{ kubernetes.version }}
controlPlaneEndpoint: {{ control_plane_endpoint | default(hostvars[groups['kube-master'][0]]['ansible_default_ipv4']['address']) }}:{{ control_plane_port }}

---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
certificateKey: "e6a2eb8581237ab72a4f494f30285ec12a9694d750b9785706a83bfcbbbd2204"
